.container {
  display: flex;
  align-items: center;
}

.container span {
  font-size: 1rem;
}

.container > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background-color: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.container > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

span.xp {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
